@import "reset.css";
@import "variables.css";
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/friends.css";
@import "components/user-component.css";
@import "components/chats.css";
@import "components/find.css";
@import "components/more.css";
@import "components/alt-header.css";
@import "components/chat.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";

body {
  font-family: "Do Hyeon", sans-serif;
  height: 1000vh;
  padding: 25px 0px;
}
.screen {
  padding: 50px var(--horizontal-space) 0px var(--horizontal-space);
}
.user-component:hover {
  background-color: rgb(252, 252, 252);
}
.body__color {
  background-color: var(--kokoa);
}
