.user-component__preview {
  font-size: 14px;
  margin-top: 5px;
  opacity: 0.6;
}
.user-component__column-notification {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.notification__time {
  font-size: 12px;
  opacity: 0.3;
  padding: 5px 5px;
}
.notification__talk {
  background-color: tomato;
  width: 20px;
  font-size: 13px;
  height: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  margin-top: 5px;
}
